@mixin body-style($image) {
  background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, 0.1)),
  url($image) no-repeat center center fixed;
  background-size: cover;
  font-family: $text-font;
}
