$primary-background: #283f42;
$highlight-color: #cdfff1;
$login-text-color: #EFF9FF;
$secondary-background-color: #5E6F71;
$hotel-info-hover-color: #C2DCC1;
$hotel-info-background-color: #DFD0B0;
$border: 2px solid #283f42;
$border-radius: 10px;
$main-header-font-size: 4em;
$sub-header-font-size: 2em;
$test-font-size: 1em;
$hotel-name-font: 'Big Shoulders Display', cursive;
$text-font: 'Roboto', sans-serif;
$letter-spacing: 1px;
