@import '_variables';
@import '_mixins.scss';
@import '~flatpickr/dist/flatpickr.css';

%display-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%container-border {
  border: 2px solid #283f42;
  border-radius: 10px;
  width: 90%;
  overflow: auto;
}

%button-hover {
  color: $highlight-color;
  transform: scale(1.1);
}

%button-active {
  box-shadow: 2px 5px black;
  transform: translateY(2px);
}

%room-list-style {
  @extend %display-flex-column;
  border: 2px solid #283f42;
  border-radius: 10px;
  padding: 10px;
  width: 95%;
  margin: 5px 0;
  background-color: $primary-background;
  color: $login-text-color;
}

.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-page-body {
  @include body-style("../images/login-background.jpg");
}

.login-page-header {
margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
}

h1 {
  color: $login-text-color;
  font-size: $main-header-font-size;
  font-family: $hotel-name-font;
  letter-spacing: 3px;
  margin: 0 20px;
}

.silva-logo {
  height: 125px;
  width: 125px;
}

form {
  font-family: $text-font;
  @extend %display-flex-column;
  width: 60%;
  margin: 125px auto;
}

.login-input-section {
  color: $login-text-color;
  font-size: 1.5em;
  letter-spacing: $letter-spacing;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login-label {
  margin-left: 13%;
}


.login-input {
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  margin: 20px auto;
  width: 70%;
}

.login-submit-button {
  background-color: $login-text-color;
  border-radius: 10px;
  border: 0;
  font-size: 1.5em;
  width: 25%;
  padding: 5px;
  outline: 0;
  color: $primary-background;
  cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      @extend %button-active;
    }
}

.hidden {
  visibility: hidden;
}

.error-message {
  color: #FF5733;
  margin-bottom: 20px;
}

// MANAGER PAGE STYLING

.user-page-body {
  @include body-style("../images/login-background.jpg");
}

.user-page-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-silva-logo {
  height: 75px;
  width: 75px;
  margin-left: 20px;
}

.user-page-header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manager-header-h1 {
  margin: 0;
}

.manager-header-form {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin: 0;
}

.manager-user-search {
  margin-right: 8px;
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  width: 85%;
  font-size: $test-font-size;
}

.user-search-button {
  @include users-page-button(25%, 0);
    &:hover {
      @extend %button-hover;
    }
    &:active {
      @extend %button-active;
    }
}

.manager-header-date {
  background-color: $secondary-background-color;
  color: $login-text-color;
  padding: 5px;
  font-size: $sub-header-font-size;
  border-radius: 10px;
  width: 35%;
  text-align: center;
}

.user-header-logout {
  @include users-page-button(10%, 0 40px 0 0)
    &:hover {
      @extend %button-hover;
    }
    &:active {
      @extend %button-active;
    }
}

.manager-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-top: 15px;
}

.manager-section-article {
  @extend %display-flex-column;
  @include section-style(100%);
}

.manager-section-header {
  padding: 5px;
  text-align: center;
  margin: 15px;
  width: 90%;
  border-bottom: 2px solid #283f42;
}

.user-booking-container {
  @extend %display-flex-column;
  height: 375px;
  @extend %container-border;
}

.user-info-button-container {
  @extend %display-flex-column;
  width: 90%;
}

.user-info-button {
  @include users-page-button(75%, 10px);
    &:hover {
      color: $highlight-color;
      transform: scale(1.1);
    }
    &:active {
      box-shadow: 2px 5px black;
      transform: translateY(2px);
    }
}

.user-selected-spent-container {
  @extend %display-flex-column;
  text-align: center;
}

.user-selected-spent-h2 {
  padding: 10px;
  border-bottom: 2px solid #283f42;
  width: 75%;
}

.user-selected-spent-p {
  margin: 10px;
  font-size: $sub-header-font-size;
}

.user-book-delete-button {
  @include delete-button(5px 5px 5px 20px);
}

.user-info-delete-button {
  @include delete-button(5px 5px 5px 85%);
}

.select-user-availability-container {
  @extend %display-flex-column;
  height: 300px;
  @extend %container-border;
  margin: 10px 0;
}

.select-user-selection-container {
  @extend %display-flex-column;
  height: 125px;
  @extend %container-border;
}

.user-select-date {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #283f42;
  outline: 0;
  border-radius: 10px;
  width: 75%;
  font-size: $test-font-size;
}

.today-info-container {
  @extend %display-flex-column;
  width: 35%;
}

.today-info-article {
  text-align: center;
  @extend %display-flex-column;
  @include section-style(100%);
  justify-content: space-around;
}

.manager-today-p {
  text-align: center;
  font-size: $sub-header-font-size;
  padding: 5px;
  width: 75%;
  border-bottom: 2px solid #283f42;
}

.manager-today {
  font-size: $main-header-font-size;
}

.today-booking-container {
  @extend %display-flex-column;
  height: 400px;
  @extend %container-border;
  margin: 20px;
}

.today-section-header {
  margin-top: 15px;
}

// CUSTOMER PAGE STYLING

.customer-availability-section {
  margin-top: 25px;
  @extend %display-flex-column;
  @include section-style(38%);
}

.customer-section-header {
  text-align: center;
  margin: 10px 0;
  width: 90%;
  padding: 10px;
  border-bottom: 2px solid #283f42;
}

.customer-availability-container {
  @extend %display-flex-column;
  height: 425px;
  @extend %container-border;
  margin: 20px 0;
}

.customer-availability-date {
  font-size: $sub-header-font-size;
  text-align: center;
}

.customer-user-search {
  margin-right: 8px;
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  width: 18%;
  font-size: $test-font-size;
}

.customer-book-section {
  margin-top: 15px;
  @extend %display-flex-column;
  width: 28%;
}

.customer-filter-room-article {
  @extend %display-flex-column;
  @include section-style(75%);
  margin: 20px 0;
}

.customer-filter-input {
  margin-right: 15px;
}

.customer-filter-form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-radio {
  margin: 2px;
  padding: 5px;
}

.customer-select-room-article {
  @extend %display-flex-column;
  @include section-style(75%);
  margin: 20px 0;
}

.customer-selection-container{
  @extend %display-flex-column;
  height: 140px;
  @extend %container-border;
}

.customer-info-section {
  margin-top: 15px;
  @extend %display-flex-column;
  justify-content: space-between;
  @include section-style(28%);
}

.customer-amount-spent {
  text-align: center;
  font-size: $test-font-size;
  width: 80%;
  border-bottom: 2px solid #283f42;
}

.dollars-spent {
  font-size: $sub-header-font-size;
  margin: 10px 0;
}

.manager-availability-section {
  @extend %room-list-style;
  &:hover {
    background-color: $secondary-background-color;
  }
}

.booking-section {
  @extend %room-list-style;
  &:hover {
    background-color: $secondary-background-color;
  }
}

.availability-section {
  @extend %room-list-style;
  cursor: pointer;
    &:hover {
      background-color: $secondary-background-color;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    &:active {
      transform: scale(.9);
    }
}

.availability-room-num {
  width: 85%;
  border-bottom: 2px solid $login-text-color;
  margin-bottom: 5px;
}

.availability-room-p {
  text-align: center;
  margin: 0 auto;
}

.availability-room-info {
  text-align: center;
  @extend %display-flex-column;
  width: 75%;
}

.post-message {
  margin: 50px auto;
  text-align: center;
}
