@import '_variables';
@import '_mixins.scss';

.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-page-body {
  @include body-style("../images/login-background.jpg");
}

.login-page-header {
margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
}

h1 {
  color: $login-text-color;
  font-size: $main-header-font-size;
  font-family: $hotel-name-font;
  letter-spacing: 3px;
  margin: 0 20px;
}

.silva-logo {
  height: 125px;
  width: 125px;
}

form {
  font-family: $text-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 125px auto;
}

.login-input-section {
  color: $login-text-color;
  font-size: 1.5em;
  letter-spacing: $letter-spacing;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login-label {
  margin-left: 13%;
}


.login-input {
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  margin: 20px auto;
  width: 70%;
}

.login-submit-button {
  background-color: $login-text-color;
  border-radius: 10px;
  border: 0;
  font-size: 1.5em;
  width: 25%;
  padding: 5px;
  outline: 0;
  color: $primary-background;
  cursor: pointer;
    &:hover {
      background-color: $highlight-color;
      transform: scale(1.1);
    }
    &:active {
      box-shadow: 2px 5px black;
      transform: translateY(2px);
    }
}

.hidden {
  visibility: hidden;
}

.error-message {
  color: #FF5733;
  margin-bottom: 20px;
}

// MANAGER PAGE STYLING

.user-page-body {
  @include body-style("../images/login-background.jpg");
}

.user-page-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-silva-logo {
  height: 75px;
  width: 75px;
  margin-left: 20px;
}

.user-page-header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manager-header-h1 {
  margin: 0;
}

.manager-user-search {
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  width: 18%;
  font-size: $test-font-size;
}

.manager-header-date {
  background-color: $secondary-background-color;
  color: $login-text-color;
  padding: 5px;
  font-size: $sub-header-font-size;
  border-radius: 10px;
  width: 35%;
  text-align: center;
}

.manager-header-logout {
  width: 10%;
  padding: 5px;
  font-size: $test-font-size;
  border-radius: 10px;
  background-color: $secondary-background-color;
  color: $login-text-color;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-right: 40px;
    &:hover {
      color: $highlight-color;
      transform: scale(1.1);
    }
    &:active {
      box-shadow: 2px 5px black;
      transform: translateY(2px);
    }
}

.manager-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  margin-top: 25px;
}

.manager-section-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $login-text-color;
  border-radius: 10px;
  width: 60%;
}

.manager-section-header {
  padding: 5px;
  text-align: center;
  margin: 15px;
  width: 90%;
  border-bottom: 2px solid #283f42;
}

.user-booking-container {
  height: 375px;
  border: 2px solid #283f42;
  border-radius: 10px;
  width: 90%;
  overflow: auto;
}

.user-info-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.user-info-button {
  width: 75%;
  padding: 5px;
  font-size: $test-font-size;
  border-radius: 10px;
  background-color: $secondary-background-color;
  color: $login-text-color;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 10px;
    &:hover {
      color: $highlight-color;
      transform: scale(1.1);
    }
    &:active {
      box-shadow: 2px 5px black;
      transform: translateY(2px);
    }
}

.user-info-article {
  align-items: center;
  width: 35%;
  background-color: $login-text-color;
  border-radius: 10px;
  height: 200px;
}

.today-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.today-info-article {
  align-items: center;
  width: 100%;
  background-color: $login-text-color;
  border-radius: 10px;
  height: 200px;
  margin: 30px 0;
}

.today-booking-container {
  height: 425px;
  border: 2px solid #283f42;
  border-radius: 10px;
  width: 90%;
  overflow: auto;
  margin: 20px;
}

.today-section-header {
  margin-top: 15px;
}

// CUSTOMER PAGE STYLING

.customer-availability-section {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38%;
  background-color: $login-text-color;
  border-radius: 10px;
}

.customer-section-header {
  text-align: center;
  margin: 10px 0;
  width: 90%;
  padding: 10px;
  border-bottom: 2px solid #283f42;
}

.customer-availability-container {
  height: 425px;
  border: 2px solid #283f42;
  border-radius: 10px;
  width: 90%;
  overflow: auto;
  margin: 20px 0;
}

.customer-availability-date {
  font-size: $sub-header-font-size;
  text-align: center;
}

.customer-book-section {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
}

.customer-filter-room-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $login-text-color;
  border-radius: 10px;
  width: 75%;
  margin: 30px 0;
}

.customer-filter-input {
  margin: 20px 0;
}

.customer-select-room-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $login-text-color;
  border-radius: 10px;
  width: 75%;
  margin: 30px 0;
}

.customer-selection-container{
  height: 200px;
  border: 2px solid #283f42;
  border-radius: 10px;
  width: 90%;
  overflow: auto;
  margin: 20px 0;
}

.customer-info-section {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 28%;
  background-color: $login-text-color;
  border-radius: 10px;
}

.customer-amount-spent {
  font-size: $test-font-size;
  margin-bottom: 15px;
}

.dollars-spent {
  font-size: $sub-header-font-size;
}
